<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css"
    />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Sub posts</title>
  </head>
  <body>
    <main>
      <div class="authOptions">
        <h1>Posts in <%= subName %></h1>
        <a role="button" href="/posts">Home</a>
      </div>

      <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
      <div
        class="individualPost"
        style="border: 1px solid #ddd; padding: 1rem; margin-bottom: 1rem"
      >
        <div
          style="
            display: flex;
            justify-content: space-between;
            align-items: center;
          "
        >
          <a href="/posts/show/<%= post.id %>"
            ><strong><%= post.title %></strong></a
          >
        </div>
        <p><%= post.description %></p>
        <div class="vote-container">
          <% if (user) { %>
          <form
            action="/posts/vote/<%= post.id %>?from=<%=subName%>"
            method="POST"
            class="vote-form"
          >
            <input type="hidden" name="setvoteto" value="1" />
            <button
              type="submit"
              class="vote-button <%= post.userVote == 1 ? 'active-vote' : '' %>"
            >
              👍
            </button>
          </form>

          <div class="vote-count-wrapper">
            <span class="vote-count"><%= post.upvotes %></span>
          </div>

          <form
            action="/posts/vote/<%= post.id %>?from=<%=subName%>"
            method="POST"
            class="vote-form"
          >
            <input type="hidden" name="setvoteto" value="0" />
            <button
              type="submit"
              class="vote-button <%= post.userVote == 0 ? 'active-vote' : '' %>"
            >
              👎
            </button>
          </form>

          <div class="vote-count-wrapper">
            <span class="vote-count"><%= post.downvotes %></span>
          </div>
          <% } %>
        </div>

        <% if (user) { %> <% } %>
      </div>
      <% }) %> <% } else { %>
      <p>No posts found in this sub.</p>
      <% } %>
    </main>

    <style>
      .active-vote {
        background-color: #007f5f;
        color: white;
        font-weight: bold;
      }
    </style>
  </body>
</html>
